@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  html {
    font-family: "Noto Sans", sans-serif !important;
  }
}

/* すべての要素に対してフォントファミリーを強制的に適用 */
body {
  @apply bg-background text-foreground;
  color: var(--foreground);
  background: var(--background);
}

* {
  font-family: "Noto Sans JP", sans-serif !important;
}

.font-sans-jp {
  font-family: "Noto Sans", sans-serif !important;
}

.font-noto-sans {
  font-family: var(--font-noto-sans-jp), sans-serif !important;
}

.font-weight-regular {
  font-weight: 400 !important;
}

.font-weight-medium {
  font-weight: 500 !important;
}

.font-weight-bold {
  font-weight: 700 !important;
}

.font-weight-black {
  font-weight: 900 !important;
}
